<div class="container">
  <h3 class="text-center">Les colocations à <%= params[:city].downcase.capitalize %> </h3>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
  <div class="row">
    <% @flats.each do |flat|%>
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-body">
          <p class="card-description">
            <h2>  <%= link_to "Colocation disponible le #{flat.available_from}| #{flat.flat_surface} m²", flat %> </h2>
          </p>
        </div>
        <span class="bandeau">
          <span class="prix">
            <%= flat.rent %> €/mois
          </span>
          <span class="coloc">
            <%= flat.number_of_roommates %> colocs
          </span>
        </span>
      </div>
    </div>
    <% end %>
  </div>
