<div class="container">
  <!-- Titre du détail de l'appart -->
  <div class="row">
    <div class=".col-12 show-title">
    <h1 class=""> Colocation de <%= @flat.number_of_roommates%> personnes | <%= @flat.flat_surface %> m² </h1>
    </div>

  <!-- Carousel photos  -->
    <div class="col-xs-12 col-sm-6 p-20 carousel">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= cl_image_tag ("#{@flat.photo}") %>
          </div>
          <div class="item">
            <%= cl_image_tag ("#{@flat.photo2}") %>
          </div>
          <div class="item">
            <%= cl_image_tag ("#{@flat.photo3}") %>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

    <!-- Détails de l'appart.   -->
    <div class="col-xs-12 col-sm-6">
      <h2> Détails de l'appartement : </h2>
      <ul class="apt-desc">
        <li> Adresse : <%= @flat.address %> </li>
        <li> Nombre de chambres : <%= @flat.number_of_rooms %> </li>
        <li> Loyer : <strong> <%= @flat.rent %>€/mois</strong> </li>
        <li> Disponible à partir du : <%= @flat.available_from %></li>
      </ul>
      <% if !@flat.description.nil? %>
      <h2> Description </h2>
      <p> <%= @flat.description %> </p>
      <% end %>
      <% if @flat.user == current_user %>
      <p> <%=  link_to "Modifier l'annonce", edit_flat_path(@flat)  %> | <%=  link_to "Supprimer l'annonce", flat_path(@flat),
      method: :delete, data: { confirm: "Are you sure?" }  %> </p>
      <% end %>
    </div>


    <!--     <div class="col-xs-6">
    <h2> Visiter cette colocation </h2>

    <%= simple_form_for [@flat, @visit] do |f| %>
      <% if @visit.errors.any? %>
         <div>
             <% @visit.errors.full_messages.each do |message| %>
               <p class="alert-danger"><%= message %></p>
             <% end %>
         </div>
       <% end %>
      <%= f.input :date, html5: true, label: "Jour de visite : " %>
      <%= f.input :time, html5: true %>
      <p> <%= f.check_box :skype %> Visite Skype </p>
      <%= f.submit%>
    <% end %> -->



    <!-- Form pour la visite de l'appart.  -->
  <div class="col-xs-6">
    <h2> Visiter la colocation :</h2>
    <div class="visit-form">
      <%= simple_form_for [@flat, @visit] do |f| %>
        <% if @visit.errors.any? %>
           <div>
               <% @visit.errors.full_messages.each do |message| %>
                 <p class="alert-danger"><%= message %></p>
               <% end %>
           </div>
        <% end %>
        <%= f.input :date, html5: true, label: "Jour de visite : ", class: "form-control" %>
        <%= f.input :time, html5: true, class: "form-control" %>
        <p> <%= f.check_box :skype, class: "form-check-input" %> Visite Skype </p>
        <%= f.submit "Réserver une visite", class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>

  <br>

  <%=  link_to "↩︎ Revenir aux résultats", controller: "flats", city: @flat.city  %>
</div>
